.actorInfo {
	display: flex;
	.actorInfoImg {
		padding: 20px 60px;
		img {
			transition: 0.6s;

			width: 280px;
			height: 420px;
			object-fit: cover;
			// display: flex;
			// align-items: center;
			// justify-content: center;
			border-radius: 20px;
			// filter: brightness(110%) contrast(120%) saturate(120%);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			outline: 2px solid #ccc;
			// mix-blend-mode: multiply;
			// filter: blur(2px);

			// object-fit: scale-dow;
		}
	}
	// align-items: center;
	h1 {
		margin-top: 50px;
	}
	h2 {
		font-size: 20px;
		font-weight: 500;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.actorInfo-Bio {
		h2 {
			margin-top: 40px;
			margin-bottom: 10px;
		}
		p {
			width: 1000px;
		}
	}
	// &&__Bio{

	// }
}
.famousMovie {
	margin-top: 10px;
	// height: 200px;
	width: 1000px;
	height: 330px;
	display: flex;
	align-items: center;
	gap: 20px;
	overflow-x: scroll;
	// justify-content: center;
	img {
		width: 150px;
		height: 250px;
		object-fit: cover;
		border-radius: 10px;
	}
	h1 {
		font-size: 15px;
		font-weight: 400;
	}
	&--block {
		width: 300px;
		height: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		// gap: -20px;
		// padding: 20px;
	}
}
